@model DojoSurvey


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Submitted Info:</h2>
    <p><b>Your Name:</b>   @Model.name</p>
    <p><b>Dojo Location:</b>   @Model.location</p>
    <p><b>Favirote Language:</b>   @Model.language</p>
    <p><b>Comment:</b>   @Model.comment</p> 
</body>
</html>