<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Here are some delicious food</h1>
    @{
        string[] Foods = new string[] {"Apple Pie", "Burrito", "Clams Casino", "Donuts"};
        for (int i = 0; i < Foods.Length; i++)
        {
            string newstring = Foods[i][0].ToString();
            if (newstring == "c" || newstring == "C" )
            {
                <style>
                    span{
                        color: red;
                    }
                </style>
                <p><span>@Foods[i]</span></p>
            }
            <p>@Foods[i]</p>
        }
    }
</body>
</html>